@model Student
<h1>Create a New Student</h1>
<form asp-action="AddStudent" asp-controller="Student" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GPA">GPA</label>
        <input asp-for="GPA" class="form-control" />
        <span asp-validation-for="GPA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdmissionDate">Admission Date</label>
        <input asp-for="AdmissionDate" class="form-control" />
        <span asp-validation-for="AdmissionDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
